@import './base.css';

body {
  overflow: hidden;
  user-select: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.content {
  flex-grow: 1;
}

.ai-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--color-background-soft);
  color: var(--color-text);
}

.logo {
  font-weight: bold;
  color: var(--color-text);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: center;
  justify-content: center;
}

.logo .symbol {
  font-size: 15em;
  color: rgb(97, 246, 117);
}

.logo-text {
  font-size: 2em;
  margin-left: 0.5em;
  width: 100%;
  text-align: center;
}

.ai-screen .screen-input input {
  padding: 1.5em;
  font-size: 1.5em;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ai-screen .screen-input {
  transition: all 0.2s;
  display: flex;
  align-items: center;
  width: 40%;
  padding: 0.5em;
  margin-bottom: 6em;
  border-radius: 4em;
  background: var(--color-background-mute);
}

.ai-screen .screen-input:has(input:focus, .question-arrow:active) {
  width: 65%;
}

.ai-screen .screen-input .question-arrow {
  padding: 1em;
  border-radius: 50%;
  background-color: white;
  color: black;
  cursor: pointer;
  margin-right: 1.5em;
}

.top-bar {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  justify-content: end;
  align-items: center;
  padding: 0.5em;
  background-color: rgb(39, 39, 39);
  color: white;
}

.top-bar button {
  margin-left: 0.75em;
  color: white;
  border: none;
  outline: none;
  transition: all 0.2s;
  opacity: 0.75;
  background-color: var(--color-background-soft);
  border-radius: 50%;
}

.top-bar button:hover {
  opacity: 1;
  background-color: var(--color-background-soft);
}

.sidebar {
  background-color: var(--color-background-soft);
  color: var(--color-text);
}
