@import './base.css';

body {
  overflow: hidden;
  user-select: none;
  background-color: var(--color-background-soft);
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.content {
  flex-grow: 1;
}

.ai-screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  background-color: var(--color-background-soft);
  color: var(--color-text);
  padding: 1rem;
}

.ai-screen .screen-input {
  margin-top: auto;
  display: flex;
  align-items: center;
  background-color: var(--color-background-mute);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.ai-screen .screen-input input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-text);
  padding: 0.5rem;
}

.ai-screen .screen-input .question-arrow {
  cursor: pointer;
  padding: 0.5rem;
}

.side-open + .ai-screen {
  display: none;
}

.top-bar {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  justify-content: end;
  align-items: center;
  padding: 0.5em;
  background-color: rgb(39, 39, 39);
  color: white;
  -webkit-app-region: drag;
}

.top-bar button {
  margin-left: 0.75em;
  color: white;
  border: none;
  outline: none;
  transition: all 0.2s;
  opacity: 0.75;
  background-color: var(--color-background-soft);
  border-radius: 50%;
  -webkit-app-region: no-drag;
}

.top-bar button:hover {
  opacity: 1;
  background-color: var(--color-background-soft);
}

.sidebar {
  background-color: #1f1f1f;
  color: var(--color-text);
}

.logo {
  text-align: center;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.logo .symbol {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.logo .logo-text {
  font-size: 1.5rem;
}

.logo:hover {
  opacity: 1;
}

::-webkit-scrollbar {
  display: none;
}
